  <% actual_locale=I18n.locale.to_s%>
  <div>
    <div>
      <div>
        <%= f.label(t(:name)) %>
      </div>

        <%= f.text_field(:name) %>
    </div>
    <div>
      <div>
        <%= f.label(t(:history)) %>
      </div>
        <%= f.text_area(:history,:style=>"height:110px") %>
    </div>
    <% if  actual_locale == 'en' %>
        <% translation_locale = :es%>
    <% elsif actual_locale == 'es'%>
        <% translation_locale = :en %>
    <% end %>
    <br />

    <div style="font-weight:bolder">
      <%=t(:translation_for,:locale=>translation_locale) +": " + translation_locale.to_s %>
    </div>
    <%= f.globalize_fields_for translation_locale do |g| %>
        <div>
          <%= t(:name, :locale => translation_locale) %>
        </div>
        <p><%= g.text_field :name %></p>
        <div>
          <%=t(:history, :locale => translation_locale) %>
        </div>
        <p><%= g.text_area(:history,:style=>"height:110px")  %></p>
    <%end%>
    <br />
    <span style="font-weight: bolder">Company Image</span>
    <div data-hook="file" class="field">
      <%= f.label Spree.t(:filename) %><br>
      <%= f.file_field :photo %>
    </div>

  </div>

