<% @page_title = "Edit company" %>

<h2>Edit Compnay: <%= @company.name %></h2>

<div>

  <%= form_for(:company, :url => {:action => 'destroy'}, :id => @company.id) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <p>Estas seguro de borrar permanentemente este usuario?</p>
      <div>
        <%= submit_tag('Delete') %>
      </div>
  <% end %>



</div>