<% @page_title = "Edit company" %>

<h2>Edit Company: <%= @company.name %></h2>

<div>

  <%= form_for(@company, :url => {:action => 'update'},:html => { :multipart => true } , :id => @company.id, :method => 'PUT') do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div>
        <%= submit_tag('Edit') %>
      </div>
  <% end %>



</div>