<h1>List of companies.</h1>

<%= link_to("New Company", {:action => "new"})   %>

<table>
  <thed>
    <tr>
      <td>Id</td>
      <td>Company name</td>
      <td>History</td>
      <td>Edidt</td>
      <td>Delete</td>
    </tr>
  </thed>
  <tbody>
  <% @companies.each do |x| %>
      <tr>
        <td> <%= x.id %> </td>
        <td> <%= x.name %></td>
        <td> <%= x.history %></td>
        <td> <%= link_to('Edit', {:action => 'edit', :id => x.id}) %>  </td>
        <td> <%=button_to "Delete",{:action => 'destroy', :id => x.id}, :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>   </td>
      </tr>
  <% end %>
  </tbody>

</table>