<% @page_title = "Create new company" %>

<h2>New Company</h2>

<div>

  <%= form_for(@company, :url => {:action => 'create'},:html => { :multipart => true } ) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div>
        <%= submit_tag('Create') %>
      </div>
  <% end %>



</div>