<h1>
  CompanyHistory#display
</h1>

<table>
  <thed>
    <tr>
      <td>Id</td>
      <td>Company name</td>
      <td>History</td>
    </tr>
  </thed>
  <tbody>
      <% @companies.each do |x| %>
        <tr>
          <td>x.id</td>
          <td>x.name</td>
          <td>x.history</td>
        </tr>
      <% end %>
  </tbody>

</table>




