<h1><%= @about.title %></h1>

<br/>
 <span id="description"> <%= @about.description %>  </span>

<script type="text/javascript">
    $(function(){
        $("#description").html( $("#description").text() );
    });
</script>