<% actual_locale=I18n.locale.to_s%>
<% @page_title = "Edit About Us" %>

<h2>Edit About Us</h2>

<div>

  <%= form_for(@about_user, :url => {:action => 'update'}, :id => @about_user.id, :method => 'PUT') do |f| %>
      <table sumary="Edit">
        <tr>
          <th><%= f.label(:title) %></th>
          <td><%= f.text_field(:title) %></td>
        </tr>
        <tr>
          <th><%= f.label(:description) %></th>
          <td><%= f.text_field(:description,:class=>'about_description') %></td>
        </tr>
        <% if  actual_locale == 'en' %>
            <% translation_locale = :es%>
        <% elsif actual_locale == 'es'%>
            <% translation_locale = :en %>
        <% end %>
        <tr style="font-weight:bolder">
          <th colspan="2">
            <%=t(:translation_for,:locale=>translation_locale) +": " + translation_locale.to_s %>
          </th>
        </tr>

        <%= f.globalize_fields_for translation_locale do |g| %>
            <tr>
                <th>
                  <%= t(:title, :locale => translation_locale) %>
                </th>
                <td>
                    <%= g.text_field(:title) %>
                </td>
            </tr>
            <tr>
              <th>
                <%= t(:description, :locale => translation_locale) %>
              </th>
              <td>
                <%= g.text_field(:description,:class=>'about_description') %>
              </td>
            </tr>
        <%end%>

      </table>

      <div>
        <%= submit_tag('Edit') %>
      </div>
  <% end %>



</div>



<head>
  <script type="text/javascript" src="/assets/admin/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
      tinymce.init({
          selector: ".about_description"
      });

  </script>
</head>