<h1>About us information</h1>

<table>
  <thed>
    <tr>
      <td>Title</td>
      <td>Body text</td>
      <td>Edit</td>
    </tr>

  </thed>
  <tbody>
  <% @about.each do |x| %>
      <tr>
        <td> <%= x.title %></td>
        <td> <span id="description"> <%= x.description %> </span></td>
        <td> <%= link_to('Edit', {:action => 'edit', :id => x.id}, :method=> :get) %>  </td>
      </tr>
  <% end %>
  </tbody>

</table>


 <script type="text/javascript">
   $(function(){
       $("#description").html( $("#description").text() );
   });
 </script>
