<% @page_title = "Edit About Us" %>

<h2>Edit About Us</h2>

<div>

  <%= form_for(:company_user, :url => {:action => 'update'}, :id => @about_user.id, :method => 'PUT') do |f| %>
      <table sumary="Edit company">
        <tr>
          <th><%= f.label(:name) %></th>
          <td><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th><%= f.label(:history) %></th>
          <td><%= f.text_field(:history) %></td>
        </tr>
      </table>

      <div>
        <%= submit_tag('Edit') %>
      </div>
  <% end %>



</div>