<%if !company.nil?%>
    <div class="columns ten omega background-detail-history border-buttom-orange" data-hook="product_right_part">

      <div>
        <div class="picture_profile">
          <% if company.photo.exists? %>
            <%= image_tag company.photo.url(:long), :style=>'margin: 7px 0 0 7px'%>
          <% end %>
        </div>
        <div class="company_name bold-text"> <%= company.name%></div>
        <div style="margin-right: 5px"><span class="normal-text"><%= truncate(company.history,:length=>1300)%></span></div>
        <br/>
        <div class="read-more-about-company"> </div>

      </div>

    </div>
<%end%>