<% if image %> 
  <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
<% else %>

<a class="example-image-link" href="/spree/products/1/product/Resize-(27).jpg?1376197212" data-lightbox="image-1" id="light-link" title="<%= @product.name %>">
  <%= product_image(@product, :itemprop => "image", :class => "roadtrip") %>
	<div style="height: 30px;width: 238px;background-color: black;margin-top: -35px;opacity: 0.7;color:#f5f5f5"><%= t(:click_here) %> </div>
</a>
<% end %>

<script>
    $(function() {
        var url = $(".roadtrip").attr("src");
        url=url.replace(/\/product\//g,"/original/");
        $("#light-link").attr("href",url);
        $(".lb-outerContainer").width("430").height("430")
        $(".lb-image").width("430").height("430")
    });
	$(".example-image-link").click(function() {
     		var url = $(".roadtrip").attr("src");
            url=url.replace(/\/product\//g,"/original/");
		    $("#light-link").attr("href",url);
            $(".lb-outerContainer").width("430").height("430")
            $(".lb-image").width("430").height("430")
    	});

</script>
