<% prod=Spree::Product.get_random_products(:count => 3) %>
<% if prod.length>0 %>
    <br />
    <div id="taxon-crumbs" data-hook class="alpha columns five omega" style="width:auto">
      <h6 class="product-section-title"><%= Spree.t(:recommended_for_you) %></h6>

      <div data-hook="product_taxons">


          <% prod.each do |p| %>
              <%=path=""
                 path=spree.product_path(p)
                 puts path%>
              <div style="float:left;padding:5px;">
                <%if p.images.length>0%>
                    <%= link_to (image_tag p.images.first.attachment.url(:small), :itemprop => "image",:style=> "width:100px;height:100px;"),path,:style=>"float:left" %>
                <% else %>
                    <%= link_to (image_tag "noimage/small.png", :itemprop => "image",:style=> "width:100px;height:100px"),path,:style=>"float:left" %>
                <%end%>
                <span><%=link_to truncate(p.name, :length => 21), path,:style=> "font-style: italic; color: #AA5B15;font-size:14px;margin-left: 5px;font-weight:bold;float:left;clear:both" %></span>
              </div>
          <% end %>

      </div>

    </div>
<% end %>
