<% if !@product.taxons.blank? %>
  <div id="taxon-crumbs" data-hook class="alpha columns five omega">
    <h6 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h6>

    <div data-hook="product_taxons">
      <ul id="similar_items_by_taxon" data-hook>
      <% @product.taxons.each do |taxon| %>
            <%=path=""
               path=spree.nested_taxons_path(taxon.permalink)
            puts path%>
               <li><%= link_to taxon.name,path%></li>
      <% end %>
      </ul>
    </div>

  </div>
<% end %>
