<!--<head>
	<script type="text/javascript"  src="/assets/lightbox-2.6.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/lightbox.css" media="screen" />
</head>-->

<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.variant_images).uniq.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
    <% @product.images.each do |i| %>
      <li class='tmb-all' id='tmb-<%= i.id %>'>
        <%= link_to(image_tag(i.attachment.url(:mini), :class => 'tumbnail'), i.attachment.url(:product), :class => 'tmb-all', :id => "tmb-#{i.id}") %>
      </li>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
        <li class='vtmb' id='tmb-<%= i.id %>'>
          <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>



<script>
  $(function(){
      var images = $(".tumbnail");
      if (  $(images[images.length -1]).height() < 30 ){
          $(images[images.length -1]).hide();
      }
  });


</script>