	<div class="menu-container" style='background-image: url("/assets/resources/background_pattern.jpg") !important;'>
		<a href="/t/categorias/ropa-y-accesorios"><div class="menu_element"><div class="brown_element" > <%=t(:Categoria1)%> </div></div></a>
		<a href="/t/categorias/artesanias"><div class="menu_element"><div class="pink_element" > <%=t(:Categoria2)%></div></div></a>
		<a href="/t/categorias/belleza-y-cuidado"><div class="menu_element"><div class="green_element" > <%=t(:Categoria3)%></div></div></a>
		<a href="/t/categorias/productos-alimenticios"><div class="menu_element"><div class="red_element" > <%=t(:Categoria4)%></div></div></a>
		<a href="/t/categorias/ceramica"><div class="menu_element"><div class="yellow_element" > <%=t(:Categoria5)%></div></div></a>
	</div>


<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <% if "spree/products" == params[:controller] && @taxon %>
      <%= render :partial => 'spree/shared/filters' %>
    <% else %>
      <%= render :partial => 'spree/shared/taxonomies' %>
    <% end %>
  </div>
<% end %>


<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
    <% else %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>

<% else %>

  <div data-hook="homepage_products" class="standar-content-background">


    <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
  </div>
<% end %>
