<div>
<div class="company_detail">
	<div class="company_category"> <h3><%= link_to t(:Category), spree.nested_taxons_path(Spree::Category.categories_taxon)%>
      >
      <%= begin
          p_category=@product.categories.first

          link_to p_category.name, spree.nested_taxons_path(p_category)
          rescue
          end
      %></h3>
      </div>
	<div class="ProductsFromES"></div>
</div>

<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div class="columns six alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images" >
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>
	<div class="ficha_product border-buttom-blue">
		<span class="bold-text"><%=t(:share)%></span><br />
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_1"></a>


        <!--<a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>-->
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51d766d619ba220f"></script>
      <!-- AddThis Button END -->
      <br />
      <% if !@product.width.nil? || !@product.height.nil? || !@product.depth.nil? %>
            <span class="bold-text"><%=t(:size) %></span><br /><span class="normal-text">
          <%=(@product.height.nil? ? 0 : @product.height)%> x <%=(@product.width.nil? ? 0 : @product.width)%> x <%=(@product.depth.nil? ? 0 : @product.depth)%> mts </span><br />
      <% end %>
		<span class="bold-text"><%=t(:price)%>  </span><br /><span class="normal-text"><%= render :partial => 'price_display', :locals=>{:product => @product} %></span><br />
      <% if !@product.weight.nil? %>
		<span class="bold-text"><%=t(:weight)%> </span><br /><span class="normal-text"><%=@product.weight%> kg</span><br />
      <% end %>

	</div>
      <!--<div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div>-->

      <!--<div data-hook="promotions">
        <%= render :partial => 'promotions' %>
      </div>-->
	
    </div>
	
  </div>

  <div class="columns ten omega background-detail-product border-buttom-orange" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">
	<div class="background_arrow" ></div>

        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

        <div itemprop="description" data-hook="description"  class="normal-text">
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>
	
        <div id="cart-form" data-hook="cart_form" >
          <%= render :partial => 'cart_form' %>
        </div>

      </div>

      <!--<%= render :partial => 'taxons' %>-->
    <%= render :partial => 'recommended' %>

    </div><div class="orange-hr"></div>

    <%= render :partial => 'company',:locals=>{company: @product.company} %>

  </div>
	




	
</div>
</div>



