<div style="background-color: #FFEAC2; padding-left: 15px; padding-bottom: 10px;height: 650px;padding-top: 30px;
        padding-right: 20px;">

  <div style="background-color: #e6dfd8;height: 630px;" >
<div style="float:left;width: 300px;margin-left: 10px;">

  <div style="width:3px;height: 610px;background-image: url('/assets/resources/punteado1.png') ;float:left;
  margin-right: 5px"></div>


    <%= render 'spree/shared/error_messages', :target => @inquiry %>
    <div id="contact_form">
      <%= form_for(@inquiry) do |f| %>
          <p>
              <%= f.label :name, Spree.t(:contact_name) %><span class="required">*</span><br/>
              <%= f.text_field :name %>
          </p>
          <p>
              <%= f.label :email, Spree.t(:contact_email) %><span class="required">*</span><br/>
              <%= f.text_field :email %>
          </p>
          <p>
              <%= f.label :phone_number, Spree.t(:contact_phone_number) %><br/>
              <%= f.text_field :phone_number %>
          </p>
          <p>
              <%= f.label :inquiry_type, Spree.t(:inquiry_type) %><br/>
              <%= f.select :inquiry_type, options_for_select(inquiry_types_translated) %>
          </p>
          <p>
              <%= f.label :order_no, Spree.t(:inquiry_order_no) %><br/>
              <%= f.text_field :order_no %>
          </p>
          <p>
              <%= f.label :message, Spree.t(:inquiry_message) %> <span class="required">*</span><br/>
              <%= f.text_area :message, {:cols => 30, :rows => 4, :class => 'fullwidth'} %>
          </p>
        <% if Spree::ContactUsConfiguration[:use_captcha] && Spree::ContactUsConfiguration[:recaptcha_public_key] %>
          <%= recaptcha_tags(
                :public_key => Spree::ContactUsConfiguration[:recaptcha_public_key],
                :display    => {:theme => Spree::ContactUsConfiguration[:recaptcha_theme]}
              )
          %>
        <% end %>
        <% if Spree::ContactUsConfiguration[:use_honeypot] %>
            <div class="inquiry_honey">
                <%= Spree.t('honeypot.please_leave_blank') %><input name="honey" value="" />
            </div>
        <% end %>
        <br/>
        <%= f.hidden_field :client_viewport_size %>
        <%= f.submit Spree.t(:send_inquiry) %>
      <% end %>
    </div>
</div>

  <div>
    <div style="width:3px;height: 610px;background-image: url('/assets/resources/punteado1.png') ;float:left;
            margin-right: 5px"></div>

    <img src="/assets/resources/mapacontacto.png" style="margin-top: 20px; margin-left: 45px;"></img>

    <div style="margin-top: 20px;">
      <div style="width:17px;margin-left: 50px;height: 20px; float:left; background-image: url('/assets/resources/iconos.png') ;float:left;
              margin-right: 5px"></div><span>support@productsfromelsalvador.com</span>
      <br /><br />
      <div style="width:17px;background-position-y: -14px;margin-left: 48px;height: 20px; float:left; background-image: url('/assets/resources/iconos.png') ;float:left;
              margin-right: 5px"></div><span>(503) 2212-0200</span>


    </div>


  </div>

  </div>
</div>