
<div id='language_buttons'>
  <div class="language_button">
     <%= link_to_function( image_tag('flags/espanol.png')+content_tag('div','Español') , 'changeLocale("es")')%>
  </div>
  <div class="language_button">
    <%= link_to_function(image_tag('flags/english.png')+content_tag('div','English'), 'changeLocale("en")')%>
  </div>
</div>