<!--<h1 class="taxon-title"><%= @taxon.name %></h1>-->


	<div class="menu-container" style='background-image: url("/assets/resources/background_pattern.jpg") !important;'>
		<a href="/t/categorias/ropa-y-accesorios"><div class="menu_element"><div class="brown_element" > <%=t(:Categoria1)%> </div></div></a>
		<a href="/t/categorias/artesanias"><div class="menu_element"><div class="pink_element" > <%=t(:Categoria2)%></div></div></a>
		<a href="/t/categorias/belleza-y-cuidado"><div class="menu_element"><div class="green_element" > <%=t(:Categoria3)%></div></div></a>
		<a href="/t/categorias/productos-alimenticios"><div class="menu_element"><div class="red_element" > <%=t(:Categoria4)%></div></div></a>
		<a href="/t/categorias/ceramica"><div class="menu_element"><div class="yellow_element" > <%=t(:Categoria5)%></div></div></a>
	</div>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
    <%= render :partial => 'spree/shared/filters' if @taxon.children.empty? %>
  </div>
<% end %>

<div data-hook="taxon_products">

  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <%= render :partial => 'taxon', :collection => @taxon.children %>
  </div>
<% end %>

