.nivoSlider{
  overflow: hidden;
  width:100%;
}
.nivo-imageLink{
  width:100%;
  img{
    width:100%;
  }
}
.nivo-main-image{
  width:100%;
}

.high-products{
  .skyblue-bottom{
    /*height: 6px;*/
    margin-bottom: 0;
    background-color: #ffeac2;
  }

  .captions-container{
    margin:0;
    padding: 0;
    background-color: #ffeac2;
    .nivo-caption{
      position: relative;
      background: none;
      color: #AA5B15;
      font-size: 14px;
      margin-left: 5px;
      font-weight: bold;
      padding-bottom: 40px;
      min-height: 150px;
      .caption-title{
        font-size:20px;
        margin-bottom: 10px;
      }
      div{
        padding-left: 10px;
        padding-right: 20px;
      }
    }
  }
}

/*.nivo-controlNav{
  display:none;
}  */