@import 'variables';

/*--------------------------------------*/
/* Basic styles
/*--------------------------------------*/

html{
	font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $base_font_size;
  font-weight: 400;
  color: $body_text_color;
  line-height: 18px;
  //background-color: $layout_background_color;
  -webkit-font-smoothing: antialiased;
}

/* Line style */
hr {
  height: 0;
  background-color: transparent;
  color: transparent;
  border: none;
  border-bottom: $default_border;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: $link_text_color; color: $layout_background_color; text-shadow: none;}
::selection {background: $link_text_color; color: $layout_background_color; text-shadow: none;}

/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: $link_text_color;}

ins {background-color: $link_text_color; color: $layout_background_color; text-decoration: none;}
mark {background-color: $link_text_color; color: $layout_background_color; font-style: italic; font-weight: bold;}

/*--------------------------------------*/
/* Links
/*--------------------------------------*/
a {
  text-decoration: none;
  color: $link_text_color;

  &:hover {
    color: darken($link_text_color, 10);
  }

  &:active, &:focus {
    outline: none;
  }
}

/*--------------------------------------*/
/* Lists
/*--------------------------------------*/
ul, ol {
  margin-left: 0;
  margin-top: 0;
  -webkit-padding-start: 0px;
  padding-left: 0;
  list-style-position: inside;

  &.inline {
    li {
      display: inline-block;
    }
  }
}

dl {
  dt, dd {
    display: inline-block;
    width: 50%;
    padding: 5px;

    &.odd {
      background-color: $table_head_color;
    }
  }
  dt {
    font-weight: bold;
    text-transform: uppercase;
  }
  dd {
    margin-left: -23px;
  }
}

/*--------------------------------------*/
/* Headers
/*--------------------------------------*/
h1 { font-size: $heading_font_size;         line-height: $heading_font_size + 10;         }
h2 { font-size: $heading_font_size - 2;     line-height: $heading_font_size - 2 + 10;     }
h3 { font-size: $heading_font_size - 4;     line-height: $heading_font_size - 4 + 10;     }
h4 { font-size: $heading_font_size - 6;     line-height: $heading_font_size - 6 + 10;     }
h5 { font-size: $sub_heading_font_size;     line-height: $sub_heading_font_size + 10;     }
h6 { font-size: $sub_heading_font_size - 2; line-height: $sub_heading_font_size - 2 + 10; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $title_text_color;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------------------------------*/
/* Forms
/*--------------------------------------*/
textarea, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"],
input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"],
input[type="week"] {
  border: $default_border;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: $input_box_font_size;

  &:active, &:focus {
    border-color: $link_text_color;;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  &.error {
    border-color: $c_red;
  }
}

label.error {
  display: block;
  font-size: $base_font_size - 1;
  color: $c_red;
  margin-top: 3px;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}

fieldset {
  margin: 0;
}

input[type="submit"], input[type="button"],
input[type= "reset"], button, a.button {
  background-color: $link_text_color;
  background-image: none;
  text-shadow: none;
  color: $layout_background_color;
  font-weight: bold;
  font-size: $button_font_size;
  font-family: 'Roboto', sans-serif;
  border: 1px solid $button_border_color;
  padding: 6px 10px 5px;
  vertical-align:  top;

  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
   -khtml-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
       -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -webkit-border-radius: 0px;
   -khtml-border-radius: 0px;
     -moz-border-radius: 0px;
      -ms-border-radius: 0px;
       -o-border-radius: 0px;
          border-radius: 0px;

  &.large {
    padding: 7px 10px;
    font-size: $button_font_size + 2;
  }

  &.gray {
    background-color: lighten($body_text_color, 20);
    border-color: lighten($body_text_color, 10);
  }

  &:hover {
    background-image: none;
    background-color: $body_text_color;
    border-color: $body_text_color;
    color: $layout_background_color;
  }
}

.ie8 {
  a.button {
    line-height: 16px;
  }
}

input[type="checkbox"], label {
  vertical-align: middle;
}

a.button {
  display: inline-block;
  line-height: 15px;
  margin-top: -2px;
  vertical-align: bottom;
}

/*--------------------------------------*/
/* Footer
/*--------------------------------------*/
footer#footer {
  padding: 10px 0;
	text-align: center;
  /*border-top: $default_border;*/
}

/*--------------------------------------*/
/* Paragraphs
/*--------------------------------------*/
p {
  padding: 10px 0;
}

/*--------------------------------------*/
/* Tables
/*--------------------------------------*/
table {
  thead {
    background-color:  rgb(0, 0, 179);
    text-transform: uppercase;

    tr {
      th {
        padding: 5px 10px;
	color: white;
      }
    }
  }

  tbody, tfoot {
    tr {
      border-bottom: $default_border;

      td {
        vertical-align: middle;
        padding: 5px 10px;
      }

      &.alt, &.odd {
        background-color: lighten($link_text_color, 50);
      }
    }
  }
}

/*--------------------------------------*/
/* Navigation
/*--------------------------------------*/
nav#top-nav-bar {
  text-align: right;
  margin-top: 5px;
  margin-left: 160px !important;
  width:400px;

  ul {
    li {
      margin-bottom: 5px;
      padding-left: 10px;

      a{
        font-weight: bold;
        font-size: $header_navigation_font_size;
        text-transform: uppercase;
      }
    }
  }
}

nav #main-nav-bar {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
  #border-bottom: $default_border;

  padding-bottom: 6px;
  margin-bottom: 0px;

  li {

    a {
      font-size: $horizontal_navigation_font_size;
      padding: 5px;
    }

    &:first-child {
      a {
        padding-left: 0
      }
    }

    &#link-to-cart {
      float: right;
      padding-left: 24px;
      background: url("cart.png") no-repeat left center;

      &:hover {
        border-color: $link_text_color;

        .amount {
          border-color: $link_text_color;
        }
      }

      a {
        font-weight: normal;
        font-size: $horizontal_navigation_font_size;
        color: $link_text_color;

        .amount {
          font-size: $horizontal_navigation_font_size + 2;
          font-weight: bold;
          border-left: $default_border;
          padding-left: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

nav#taxonomies {
  .taxonomy-root {
    text-transform: uppercase;
    border-bottom: $default_border;
    margin-bottom: 5px;
    font-size: $main_navigation_header_font_size;
  }

  .taxons-list {
    li {
      a {
        font-size: $main_navigation_font_size
      }
    }
  }
}

#breadcrumbs {
  border-bottom: $default_border;
  padding: 3px 0;
  margin-bottom: 15px;

  li {
    a {
      color: $link_text_color;
    }
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

/*--------------------------------------*/
/* Flash notices & errors
/*--------------------------------------*/
.flash {
  padding: 10px;
  color: $layout_background_color;
  font-weight: bold;
  margin-bottom: 10px;

  &.notice {
    background-color: $link_text_color;
  }
  &.success {
    background-color: $c_green;
  }
  &.error {
    background-color: $c_red;
  }
}

.errorExplanation {
  @extend .flash.error;
  @extend .flash;

  p {
    font-weight: normal;
  }

  ul {
    list-style: disc outside;
    margin-left: 30px;

    li {
      font-weight: normal;
    }
  }
}

/*--------------------------------------*/
/* Main search bar
/*--------------------------------------*/
#search-bar {
  display: block;
}

/*--------------------------------------*/
/* Products
/*--------------------------------------*/
[data-hook="product_show"] {
  h6 {
    font-size: $product_detail_title_font_size;
  }
}

.product-section-title {
  text-transform: uppercase;
  margin-top: 15px;
}

.add-to-cart {
  margin-top: 15px;

  input[type="number"] {
    margin-right: 3px;
    width: 60px;
    vertical-align: middle;
    padding: 8px 10px;
  }
}

span.price {
  font-weight: bold;
  color: $link_text_color;

  &.selling {
    font-size: $product_detail_price_font_size;
  }
  &.diff {
    font-weight: bold;
  }
}

.taxon-title {
  font-size: $product_list_header_font_size;
}

.search-results-title {
  font-size: $product_list_search_font_size;
}

ul#products {
  &:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  li {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

    a {
      display: block;

      &.info {
        height: 25px;
        margin-top: 5px;
        font-size: $product_list_name_font_size;
        /*color: $product_link_text_color;*/
	color: rgb(31, 31, 31);
        border-bottom: $default_border;
        overflow: hidden;
      }
    }

    .product-image {
/*      border: $default_border;*/
/*      padding: 5px;*/
/*      min-height: 110px;*/
      /*background-color: $product_background_color;*/
	width: 162px;
	height: 162px;

      &:hover {
        border-color: $link_text_color;
      }

      img {
        max-width: 100%; /* Fluid images for product */
      }

    }

    .price {
      color: $link_text_color;
      font-size: $product_list_price_font_size;
      padding-top: 5px;
      display: block;
    }
  }
}

.subtaxon-title {
  text-transform: uppercase;

  a {
    color: $link_text_color;
  }
}

.search-results-title {
  text-transform: uppercase;
  border-bottom: $default_border;
  margin-bottom: 10px;
}

#sidebar_products_search {
  .navigation {
    margin-bottom: 15px;
  }

  .filter-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ededed;
    margin-bottom: 5px;
    color: $link_text_color;
    font-size: $base_font_size + 2;
    line-height: 24px;
  }
}

.taxon {
  overflow: hidden;
}

#product-images {
  #main-image {
    text-align: center;
    border: $default_border;
    /*background-color: $product_background_color;*/
	background-image: url("/assets/resources/preload_detalle2.png")  !important;
    img {
      min-height: 224px;
      max-width: 100%; /* Fluid images for product */
    }
  }
  #product-thumbnails {
    li {
      background-color: $product_background_color;
    }
  }
}

#product-description {
  .product-title {
    border-bottom: $default_border;
    margin-bottom: 15px;
    color: $product_title_text_color;
    font-size: $product_detail_name_font_size;
  }

  [data-hook="product-description"] {
    font-size: $product_detail_description_font_size;
    color: $product_body_text_color;
  }
}

#product-thumbnails {
  margin-top: 10px;

  li {
    margin-right: 6px;
    border: $default_border;

    img {
      padding: 5px;
    }

    &:hover, &.selected {
      border-color: $link_text_color;
    }
  }
}

#product-properties {
  border: $default_border;
  padding: 10px;
  width: 100%;
}

#product-variants {
  ul {
    li {
      padding: 5px;
    }
  }
}

#cart-form {
  #inside-product-cart-form:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

/*--------------------------------------*/
/* Checkout
/*--------------------------------------*/
.out-of-stock {
  background: #df0000;
  color: white;
  padding: 5px;
  padding-right: 10px;
  font-weight: bold;
}

.progress-steps {
  list-style: decimal inside;
  overflow: auto;

  li {
    float: left;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: lighten($body_text_color, 20);

    &.current-first, &.current {
      background-color: $link_text_color;
      color: $layout_background_color;
    }

    &.completed-first, &.completed {
      background-color: $table_head_color;
      color: $layout_background_color;

      a {
        color: $layout_background_color;
      }

      &:hover {
        background-color: $link_text_color;
        color: $layout_background_color;

        a {
          color: $layout_background_color;

          &:hover {
            color: $layout_background_color;
          }
        }
      }
    }
  }
}

#payment-methods {
  list-style: none;

  li {
    fieldset {
      border: none;
      padding: 0;
    }
  }
}



#checkout-summary {
  text-align: center;
  border: $default_border;
  margin-top: 23px;
  margin-left: 0;

  h3 {
    text-transform: uppercase;
    font-size: $base_font_size + 2;
    border-bottom: $default_border;
  }

  table {
    width: 100%;

    tr[data-hook="item_total"] {
      td:last-child {
        strong {
          @extend span.price;
        }
      }
    }

    tr[data-hook="order_total"] {
      border-bottom: none;
    };

    #summary-order-total {
      @extend span.price;
      font-size: $base_font_size + 2;
    }
  }
}

#billing, #shipping, #shipping_method,
#payment, #order_details, #order_summary {
  margin-top: 10px;
  border: $default_border;
  padding: 10px;

  legend {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $base_font_size + 2;
    color: $link_text_color;
    padding: 5px;
    margin-left: 15px;
  }
}

#order_details, #order_summary {
  padding: 0;

  div:last-child {
    margin-left: -1px;
  }

  .payment-info {
    .cc-type {
      img {
        vertical-align: middle;
      }
    }
  }

  td.price, td.total {
    span {
      @extend span.price;
    }
  }

  table tfoot {
    text-align: right;
    color: lighten($body_text_color, 20);

    tr {
      border: none;
    }

    &#order-total {
      text-transform: uppercase;
      font-size: $base_font_size + 4;
      color: $body_text_color;

      tr {
        border-top: $default_border;

        td {
          padding: 10px;
        }
      }
    }
  }

  .steps-data {
    div.columns {
      padding: 5px;
      margin: 0;

      &:first-child {
        margin-left: 10px;
      }
    }

    h6 {
      border-bottom: $default_border;
      margin-bottom: 5px;
    }
  }
}

#shipping_method {
  p {
    &#minstrs {
      clear: both;

      label {
        width: 100%;
      }
    }

    label {
      float: left;
      font-weight: bold;
      font-size: $base_font_size + 2;
      margin-right: 40px;
      padding: 5px;
    }
  }

  .shipment {
    margin-bottom: 30px;
  }

  .stock-shipping-method-title {
    background-color: lighten($body_text_color, 70);
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size :11px;
  }

  .stock-location {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    background-color: $link_text_color;
    color: white;
  }

  .unshippable {
    .stock-location {
      background-color: $c_red;
    }
  }

  .shipping-methods {
    list-style: none;
    margin: 0;
    padding: none;

    .shipping-method {
      display: inline-block;
      margin: 5px 10px 5px 0;

      label {
        font-weight: bold;

        .rate-cost {
          color: $link_text_color;
        }
      }
    }
  }

  table.stock-contents {
    thead {
      background-color: lighten($body_text_color, 40);

      th {
        font-size: 11px;
        font-weight: normal
      }
    }
    tbody {
      tr {
        td {
          text-align: center;

          &.item-name {
            text-align: left;
          }
        }
      }
    }
  }
}

p[data-hook="use_billing"] {
  float: right;
  margin-top: -18px;
  /*background-color: $layout_background_color;*/
  padding: 5px;
}

/*--------------------------------------*/
/* Cart
/*--------------------------------------*/
table#cart-detail {
  width: 100%;
  tbody#line_items {
    tr {

      td[data-hook="cart_item_price"], td[data-hook="cart_item_total"] {
        @extend span.price;
        @extend span.price.selling;
      }
      td[data-hook="cart_item_quantity"] {
        .line_item_quantity {
          width: 40px;
        }
      }
      td[data-hook="cart_item_delete"] {
        .delete {
          display: block;
          width: 20px;
        }
      }
    }
  }
}

div[data-hook="inside_cart_form"] {
  .links {
    margin-top: 15px;
    text-align: right;
  }

  #subtotal {
    text-align: right;
    text-transform: uppercase;
    margin-top: 15px;

    span.order-total {
      @extend span.price;
    }
  }
}

#empty-cart {
  margin-top: -75px;
  float: left;
}

/*--------------------------------------*/
/* Account
/*--------------------------------------*/
#existing-customer, #new-customer, #forgot-password {
  h6 {
    text-transform: uppercase;
  }
}

#registration {
  h6 {
    text-transform: uppercase;
  }

  #existing-customer {
    width: auto;
    text-align: left;
  }
}

#user-info {
  margin-bottom: 15px;
  border: $default_border;
  padding: 10px;

  dd {
    margin-left: 0px;
  }
}

/*--------------------------------------*/
/* Order
/*--------------------------------------*/
#order_summary {
  margin-top: 0;
}
#order {
  p[data-hook="links"] {
    margin-left: 10px;
    overflow: auto;
  }
}

table.order-summary {
  tbody {
    tr {
      td {
        width: 10%;
        text-align: center;

        &:first-child {
          a {
            text-transform: uppercase;
            font-weight: bold;
            color: $link_text_color;
          }
        }
      }
    }
  }
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    padding-left: 10px;
    width: 758px;
  }
  footer#footer {
    width: 748px;
  }
  p[data-hook="use_billing"] {
    margin-top: -15px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  html {
    -webkit-text-size-adjust: none;
  }

  #order_details .steps-data div.columns,
  #order_summary .steps-data div.columns {
    padding: 0;
    margin: 0;

    &:first-child {
      margin: 0
    }
  }

  nav#taxonomies {
    text-align: center;

    ul {
      padding-left: 0;
      list-style: none;
    }
  }

  ul#nav-bar {
    text-align: center;
  }

  .steps-data div.columns {
    margin-bottom: 15px;
    text-align: center;
  }

  #order_details, #order {
    table[data-hook="order_details"] {
      width: 100%;
    }
  }

  #update-cart {
    #subtotal, .links {
      width: 50%;
      float: left;
      text-align: left;
    }
    #subtotal {
      text-align: right;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  footer#footer {
    width: auto;
  }

  input, select {
    vertical-align: baseline;
  }

  figure#logo {
    text-align: center;
  }

  #link-to-login {
    display: block;
    text-align: center;
  }

  #search-bar {
    display: block;
    text-align: center;

    select {
      margin-bottom: 10px;
    }
  }

  ul#products {
    margin-left: 0;
    margin-right: -20px;

    li {
      width: 155px;
      margin-right: 10px;
    }
  }

  table#cart-detail, table[data-hook="order_details"] {
    tbody {
      tr {
        td[data-hook="cart_item_description"], td[data-hook="order_item_description"] {
          font-size: $base_font_size - 1;
          line-height: 15px;
          width: 100px;

          h4 {
            font-size: $base_font_size + 2;
            line-height: 17px;
            margin-bottom: 10px;
          }
        }
        td[data-hook="cart_item_price"], td[data-hook="cart_item_total"],
        td[data-hook="order_item_price"], td[data-hook="order_item_total"]  {
          font-size: $base_font_size;
        }
        td[data-hook="cart_item_image"], td[data-hook="order_item_image"] {
          img {
            width: 70px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  #empty-cart {
    clear: both;
    margin-top: 0;
    float: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container .offset-by-nine.coupon-code-field {
    padding-left: 380px;
  }
}

#update-cart .coupon-code-field {
  /* yes, this is ugly... */
  margin-top: -42px !important;
}

@media only screen and (max-width: 767px) {
  #empty-cart,
  #update-cart .coupon-code-field {
    /* yes, this is ugly... */
    margin-top: 0 !important;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

  .progress-steps li {
    padding: 0;
    margin: 0;
    width: 50%;

    span {
      display: block;
      padding: 10px 20px;
    }
  }

  #shipping_method p label {
    float: none;
    display: block;
    text-align: center;
    margin-right: 0;
  }

  p[data-hook="use_billing"] {
    float: none;
    margin-top: 0;
  }

  table#cart-detail, table[data-hook="order_details"] {
    tbody {
      tr {
        td[data-hook="cart_item_description"], td[data-hook="order_item_description"] {
          padding: 0 !important;
          text-indent: -9999px;

          h4 {
            display: none;
          }
        }
        td[data-hook="cart_item_image"], td[data-hook="order_item_image"] {
          img {
            width: 70px;
          }
        }
        td[data-hook="cart_item_price"], td[data-hook="cart_item_total"] {
          font-size: $base_font_size + 2 !important;
        }
      }
    }
  }

  table.order-summary {
    display: block; position: relative; width: 100%;

    thead { display: block; float: left; }
    tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    thead tr { display: block; }
    th { display: block; }
    tbody tr { display: inline-block; vertical-align: top; }
    td { display: block; min-height: 1.25em; }
  }


  figure#logo {
    text-align: center;
  }

  #link-to-login {
    display: block;
    text-align: center;
  }

  #search-bar {
    display: block;
    text-align: center;

    select {
      margin-bottom: 10px;
    }
  }

  aside#sidebar {
    text-align: center;

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

  ul#products {
    li {
      width: 142px;
      margin-right: 15px;

      &.secondary, &.omega {
        margin-right: 0;
      }
    }
  }

  #content {
    text-align: center;
  }
}

//TO IMPORT
.body_background{
	background: #fadaa2; /* Old browsers */
	background: -moz-linear-gradient(left,  #fadaa2 0%, #fadba5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fadaa2), color-stop(100%,#fadba5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fadaa2 0%,#fadba5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fadaa2 0%,#fadba5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fadaa2 0%,#fadba5 100%); /* IE10+ */
	background: linear-gradient(to right,  #fadaa2 0%,#fadba5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadaa2', endColorstr='#fadba5',GradientType=1 ); /* IE6-9 */

}

.container_background{
	background: #ffd17a; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffd17a 0%, #f5c36e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffd17a), color-stop(100%,#f5c36e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffd17a 0%,#f5c36e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffd17a 0%,#f5c36e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffd17a 0%,#f5c36e 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffd17a 0%,#f5c36e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd17a', endColorstr='#f5c36e',GradientType=1 ); /* IE6-9 */
            width: 960px!important;
}

.background_header{
	/*background-image: url("/assets/resources/nav_bartexture.jpg") !important;*/
	background-color: white;
}
.header_image{
  width: 150px;
  float:left;
}
.header_image.extras_header{
  margin-left: 20px;
}


.menu_background{
	background-image: url("/assets/resources/navigation-pattern.png");
	min-width: 185px;
	height: 52px;
	background-repeat: no-repeat;
	color: white;
	font-size: 13px;
  padding-top: 2px;
}

.background_slide{
	background-image: url("/assets/slide/featured_pic1.png") !important;
    background-size: 100%,100%;
	min-height: 95px;

    background-repeat:no-repeat;
    margin-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer_background{
	background-image: url("/assets/resources/footer_bg.png") !important;
	background-repeat:no-repeat;
	/*background-color: #1d5cab;*/
}

.footer_column{
	margin: 0 auto;
	width: 150px;
	text-align: left;
	float: left;
	min-height: 100px;
	padding-top: 25px;
	color: white;
}

.footer_column_image{
	margin: 0 auto;
	text-align: left;
	float: left;
	min-height: 100px;
	padding-top: 25px;
}

.map_background{
	background-image: url("/assets/resources/map.png") !important;
	height: 140px;
	width: 260px;
}

.product-frame{
	background-image: url("/assets/resources/pic_border2.png") !important;
	margin-left: 15px;
}

.product-image-size{
	margin-top:9px;
	width: 144px;
	height: 144px;
}

.menu-container{
  min-width: 180px;
  height: 1008px;
  float: left;
  width: 26%;
  margin-right: 15px;
}

.menu_element{
	height: 56px; 
	width: 195px;
	background-image: url("/assets/resources/side_btn1.png") !important;
	margin-bottom: 10px;
	cursor: pointer;
}

.brown_element{	
	height: 44px; 
	width: 130px;
	margin-bottom: 10px;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-repeat: no-repeat;
	padding-left: 58px;
	padding-top: 18px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.brown_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}

.pink_element{	
	height: 44px; 
	width: 130px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-position-y: -61px;
	padding-left: 58px;
	padding-top: 18px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.pink_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}

.green_element{	
	height: 46px; 
	width: 130px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-position-y: -123px;
	padding-left: 58px;
	padding-top: 11px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.green_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}

.red_element{	
	height: 46px; 
	width: 130px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-position-y: -185px;
	padding-left: 58px;
	padding-top: 11px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.red_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}

.yellow_element{	
	height: 40px; 
	width: 130px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-position-y: -248px;
	padding-left: 58px;
	padding-top: 18px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.yellow_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}

.skyblue_element{	
	height: 56px; 
	width: 130px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url("/assets/resources/sideicons_sprite.png") !important;
	background-position-y: -305px;
	padding-left: 58px;
	padding-top: 18px;
	font-size: 15px;
	font-weight: bold;
	color: #7A3A00;
}

.skyblue_element:hover{
	background-image: url("/assets/resources/sideicons_sprite_hover.png") !important;
}
.hr{
	background-image: url("/assets/resources/dotted_division.png")  !important;
	width:100%;
	height: 10px;
}

.slide-image{
	width: 100%; 
	height: 255px; 
	background-image: url("/assets/resources/featured_pic1.png")  !important;
}

.high-products{
    /*overflow:hidden; **/
	width: 100%; 
	height: 170px; 
	background-image: url("/assets/resources/bestseller_1.png")  !important;
}

.right-bar{
  width: 180px;
  min-height: 1050px;
  float: left;
  background-image: url("/assets/resources/background_pattern.jpg") !important;
  margin-left: 10px;
}

.best-product{
	width: 166px; 
	min-height:174px; 
	background-image: url("/assets/resources/pic_border1.png")  !important;
	background-repeat: no-repeat;
	margin: 0 auto;
    margin-left: 11px;
}

.footer_column h5{
	color: white;
}

.twitter_btn{
	background-image: url("/assets/resources/fb_tw.png")  !important;
	height: 35px; 
	width: 35px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position-x: -35px;
	cursor: pointer;
	float: left;
}

.twitter_btn:hover{
	background-image: url("/assets/resources/fb_tw_hover.png")  !important;
}

.facebook_btn{
	background-image: url("/assets/resources/fb_tw.png")  !important;
	height: 35px; 
	width: 35px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.facebook_btn:hover{
	background-image: url("/assets/resources/fb_tw_hover.png")  !important;
}

.search_background{
	background-image: url("/assets/resources/search1.png")  !important;
	padding-top: 7px;
}

#keywords{
	border-radius: 8px;
	height: 14px;
	width: 131px;
	margin-top: 7px;
	margin-right: -4px;
}

input[name="search_btn"],
.search_button {
	background-image: url("/assets/resources/search2.png") !important;
	background-repeat: no-repeat;
    background-color: white;
    border: 0px;
	width: 30px;
	height: 45px;
	font-size: 0px;
	margin-right: 0px;
	margin-top: 0px;
    margin-left: 5px;
}
input[name="search_btn"]:hover,
input.search_button:hover {
  background-color: white;

}

.company_detail{
	width: 100%;
	background-color: #ffeac2;
	min-height: 70px;
	/*margin-bottom: 3px;*/
	float: left;
}

.company_category{
	float: left;
	width: 60%;
	min-width: 135px;
}

.ProductsFromES{
	float: right;
	min-width: 135px;
	width: 25%;
	background-image: url("/assets/resources/logo_cafe.png")  !important;
	height: 50px;
	background-repeat: no-repeat;
}

.productDetail{
	background-image: url("/assets/resources/preload_detalle2.png")  !important;
	
}

.background-detail-product{
	background-color: #ffeac2;
	margin-top: 10px;
	padding-left: 12px;
}

.background-detail-history{
  background-color: #fcdc9a;
  padding-top: 10px;
  width: 100%!important;
  margin-left: -12px!important;
  padding-left: 12px;
}

.background_arrow{
	height: 100px;
	width: 100px;
	background-image: url("/assets/resources/pin_categoria1.png")  !important;
	background-repeat: no-repeat;
	float: right;
	margin-top: -40px;
}

.ficha_product{
    height: 100%;
	width: 100%;
	height: 215px;
	background-color: #ffeac2;
	background-image: url("/assets/resources/linea-punteada.png") !important;
	background-repeat: no-repeat;
	background-position: right;
}

.email_icon{
	height: 17px;
	width: 17px;
	background-image: url("/assets/resources/miniicons_cafe.png")  !important;
	background-repeat: no-repeat;
	float: left;
}

.email_icon:hover{
	background-image: url("/assets/resources/miniicons_blanco.png")  !important;
}

.star_background{
	height: 17px;
	width: 100px;
	background-image: url("/assets/resources/miniicons_cafe.png")  !important;
	background-position-y: -17px;
	float: left;
}

.star_background:hover{
	background-image: url("/assets/resources/miniicons_blanco.png")  !important;
}

.picture_profile{
	background-image: url("/assets/resources/borde_creadores.png")  !important;
	width: 134px;
	height: 170px;
	float: left;
	margin-right: 10px;
}

.background-images{
	background-image: url("/assets/resources/pic_border1.png") !important;
	width: 162px;
	height: 162px;
	margin: 0 auto;
}

.border-buttom-blue {
    background-image: url("/assets/resources/bluebar.png");
	border-bottom-color: rgb(0, 255, 250);
	border-bottom-style: outset;
	border-bottom-width: 10px;
}

.border-buttom-orange {
	/*border-bottom-color: #FF6A19;
	border-bottom-style: outset;
	border-bottom-width: 10px;*/
}

.normal-text{
	color: #5F2100;
	font-size: 13px;
	padding: 7px;
}

.h3-text{

}

.bold-text{
	font-weight: bold;
	font-size: 14px;
	padding: 7px;
}

.button-home{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	width: 23px;
	height: 28px;margin-bottom: -26px;background-repeat: no-repeat;margin: 0 auto;
}

.button-home:hover{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	background-position-y: -40px;
}

.button-we{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	width: 23px;
	height: 28px;margin-bottom: -26px;background-repeat: no-repeat;margin: 0 auto;
	background-position-x: -26px;
}

.button-we:hover{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	background-position-y: -40px;
}

.button-products{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	width: 23px;
	height: 28px;margin-bottom: -26px;background-repeat: no-repeat;margin: 0 auto;
	background-position-x: -52px;
}

.button-products:hover{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	background-position-y: -40px;
}

.button-contact{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	width: 23px;
	height: 28px;margin-bottom: -26px;background-repeat: no-repeat;margin: 0 auto;
	background-position-x: -78px;
}

.button-contact:hover{
	background-image: url("/assets/resources/navicons_sprite.png") !important;
	background-position-y: -40px;
}

.button-eslogo{
	width: 142px;height: 52px;margin-bottom: -26px; margin-left: 25px; background-image: url("/assets/resources/logo_blanco.png") !important;
	background-repeat: no-repeat;
}

.cart-item-image{
	background-image: url("/assets/resources/background_pattern.jpg") !important;
}

.line-item{
	background-color: #ffeac2;
}

#language_buttons{
  float:right;
  margin-right: 90px !important;
  margin-top: -19px;

  .language_button{
    float:right;
    margin-left:8px;
    margin-right: 8px;

    a img{
      margin-right:5px;
    }
  }

}

.home_main_column{
  float: left;
  background-color: #ffeac2;
  height: 1021px;
  width: 72%;
}

.standar-content-background{
	background-color: #FFEAC2;
	width: 72%;
	padding-top: 15px;
	float: left;
	min-widt: 300px;
}

.home_main_column h3{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.skyblue-bottom{
	background-image: url("/assets/resources/bluebar.png") !important;
	height: 20px;
	width: 100%;
}

.container .twelve.columns {
	width: 760px!important;
}

.brown-divission{
	width: 100%;
	height: 64px;
	background-image: url("/assets/resources/bar2.png") !important;
}

.left-frame{
	width: 20px;
	height: 64px;
	background-image: url("/assets/resources/bar1.png") !important;
	background-repeat: no-repeat;
	float: left;
	margin-left: -8px;
}

.right-frame{
	width: 20px;
	height: 64px;
	float: right;
	background-image: url("/assets/resources/bar3.png") !important;
	background-repeat: no-repeat;
	float: right;
	margin-right: -20px;
}

#sidebar{
	display:none;
}

.container .six.columns {
    margin:0;
	width: 198px!important;
	float: left;
}

.container .ten.columns {
    margin-left:0;
	width: 580px;
	width: 66.7%;
	float: left;
	min-width: 288px;
}

.orange-hr{
	background-image: url("/assets/resources/barra2-org.png") !important;
	width: 102%;
	height: 10px;
	margin-left: -12px;
}

#breadcrumbs{
	display: none;
}

#products{
	background-color: #FFEAC2;
    overflow: hidden;
	padding-top: 10px;
}

.columns.sixteen{
	  margin:0;
	  width: 960px !important;
}

.price{
	color: #AA5B15!important;
}


.background-promotions{
	height: 750px;
	background-image: url("/assets/resources/background_pattern.jpg")!important;
}

.company_category h3{
	padding-left: 15px;
	padding-top: 10px;
}

.container .six.columns {
	margin: 0;
	width: 26%;
	float: left;
	min-width: 240px;
}

.container .twelve.columns{
	width: 79%!important;
}

.columns.sixteen {
	margin: 0;
	width: 100%!important;
}

table thead{
	background-color: #B26C2C;
}

.cart-item-price{
	color: #B26C2C!important;
}

.cart-item-total{
	color: #B26C2C!important;
}

h4 .vt-p{
	color: #B26C2C!important;
}

.credits{
	display: inline-block;
	color: white;
}

#checkout_form_address{
  #shipping{
    margin-left:70px;
  }
  fieldset{
    border:none;
  }
}

.container .column, .container .columns{
  margin-right: 0px! important;
}

.promotion-box{
  padding-left: 10px;
  padding-right: 10px;
}

#checkout{
  background-color: #FFEAC2;
}

table thead tr th{
  color: black;
}

.nivo-controlNav{
  display: none;
}

#language_buttons{
  margin-right: 55px;
}

ul#products li a.info{
  height: 25px;
  margin-top: 5px;
  font-size: 12px;
  color: #1f1f1f;
  border-bottom: 1px solid #eda86b;
  overflow: hidden;
  padding-left: 0px;
  margin-left: 30px;
}

ul#products li .price{
  margin-left: 20px;
}

#product-images #main-image{
  height: 228px!important;
  text-align: center;
  border: 1px solid #eda86b;
  background-image: url("/assets/resources/preload_detalle2.png") !important;
}

ul#products li a.info{
  height: 20px;
  margin-top: 5px;
  font-size: 12px;
  color: #1f1f1f;
  border-bottom: 1px solid #eda86b;
  overflow: hidden;
  padding-left: 0px;
  margin-left: 30px;
}


footer#footer{
  padding: 10px 0;
  text-align: center;
  margin-top: -25px;
}

ul {
  list-style-type: none;
}

#product-images{
	margin-bottom: 15px;
}
