
<div style="font-style: italic;margin-bottom:10px;background-color: #AA5B15; height: 25px;padding-top: 10px;padding-left: 6px;">
  <span style="color: white; font-size:18px;font-weight:bold;margin-top:10px"><%=Spree.t(:promotions) %></span></div>
<div class="background-promotions">


  <ul>
    <% @promotions.each do |p|  %>
        <li>
      <div class="promotion-box">
        <span style="font-style: italic; color: #AA5B15;font-size:14px;margin-left: 10px;font-weight:bold;"><%= truncate(p.name, :length => 55) %></span>
        <% if p.products.length >0  %>
            <% x=p.products.first%>
            <div class="best-product">
              <%if x.images.count > 0  %>
                  <div style="padding-top:17px;padding-left: 15px">
                    <%= link_to (image_tag x.images.first.attachment.url(:small), :itemprop => "image",:style=> "width:130px;height:130px"),spree.product_path(x) %>
                  </div>
              <% end %>
            </div>
        <%end%>

        <span><%=p.description %></span>
      </div>
      <br />
        </li>
    <%end%>

  </ul>
</div>

<head>
  <script src="/assets/spree/jquery.vticker.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function(){
            $('.background-promotions').vTicker({
                speed: 500,
                pause: 6000,
                animation: 'fade',
                mousePause: false,
                showItems: 3,
                height: 250
            });
        });
    </script>
</head>

