
<%
   paginated_products = @searcher.retrieve_products if params.key?(:keywords)
   paginated_products ||= @products
%>
<% if @products.empty? %>
    <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
    <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if @products.any? %>


    <ul id="products" class="inline product-listing" data-hook>
      <div class="brown-divission">
        <!-- <div class="left-frame"></div> -->
        <div class="button-eslogo" style="float:left; margin-top:8px;"></div>

        <div class="right-frame"></div>

      </div>
      <div style="margin-left: 10px;">
        <b><%= " "+(@category.nil? ? "" : @category.name)%></b>
      </div>
      <% @products.each do |product| %>
          <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
            <div class="product-image product-frame">
              <%= link_to small_image(product, :itemprop => "image", :class=> 'product-image-size'), spree.product_path(product), :itemprop => 'url'  %>
            </div>
            <%= link_to truncate(product.name, :length => 50), spree.product_path(product), :class => 'info', :itemprop => "name", :title => product.name %>
            <span class="price selling" itemprop="price"><%= render :partial => 'spree/products/price_display', :locals => {:product => product} %></span>
          </li>
      <% end %>
      <% reset_cycle("classes") %>
    </ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
    <%= paginate paginated_products %>
<% end %>

