
<div style="font-style: italic;margin-bottom:10px;background-color: #AA5B15; height: 25px;padding-top: 10px;padding-left: 6px;"><span style="color: white; font-size:18px;font-weight:bold;margin-top:10px"><%=t(:Productoftheday) %></span></div>
<% @products.each do |x|  %>

        <div class="best-product">
          <%if x.images.count > 0 %>
              <div style="padding-top:17px;padding-left: 15px">
                <%= link_to (image_tag x.images.first.attachment.url(:small), :itemprop => "image",:style=> "width:130px;height:130px"),spree.product_path(x) %>
              </div>
          <% end %>
        </div>
        <span><%=link_to truncate(x.name, :length => 20), spree.product_path(x),:style=> "font-style: italic; color: #AA5B15;font-size:14px;margin-left: 5px;font-weight:bold;" %></span>
        <!--<span><%=x.description %></span>-->
<%end%>
