


<div class="high-products">
<% if @products.count > 0 %>
    <style type="text/css">
        .theme-default #popular_products_slide {
            margin:0 auto 0 auto;
            width:100%; /* Make sure your images are the same size */
            height:170px; /* Make sure your images are the same size */
        }
        .slider-wrapper {
            margin:0 auto 0px auto;
        }
    </style>

    <div class="slider-wrapper theme-default">
      <div class="ribbon"></div>
      <div id="popular_products_slide" class="nivoSlider">
        <% @products.each do |x| %>
            <%if x.images.count > 0 %>
                <%= link_to image_tag(x.longest_image_url, :title => '#p-' + (x.id.nil? ? "" : x.id.to_s)), spree.product_path(x) %>
             <% else %>

            <%end%>
        <% end %>
      </div>
      <div class="skyblue-bottom"></div>
      <div class="captions-container normal-text"></div>
      <% @products.each do |x| %>
          <div id='p-<%= x.id.to_s %>' class='nivo-html-caption'>

            <%desc=x.description.nil? ? "" : x.description%>
            <%name=x.name.nil? ? "" : x.name%>
            <div class="caption-title"><%= truncate(name, :length=>30).html_safe  %></div>
            <div><%= truncate(desc, :length=>600).html_safe %></div>
          </div>

      <% end %>
    </div>

    <script type="text/javascript">
        $(window).load(function() {
            $('#popular_products_slide').nivoSlider({
                    pauseTime: 5000,
                    pauseOnHover: true,
                    captionsContainer:".high-products .captions-container"
            });
        });
    </script>
<% end %>

</div>