<% content_for :sidebar_title do %>
  <%= Spree.t(:configurations) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <%= configurations_sidebar_menu_item Spree.t(:general_settings), edit_admin_general_settings_path %>
      <% if Spree::Config[:override_actionmailer_config] %>
        <%= configurations_sidebar_menu_item Spree.t(:mail_method_settings), edit_admin_mail_method_path %>
      <% end %>
      <%= configurations_sidebar_menu_item Spree.t(:image_settings), edit_admin_image_settings_path %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_categories), admin_tax_categories_path %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_rates), admin_tax_rates_path %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_settings), edit_admin_tax_settings_path %>
      <%= configurations_sidebar_menu_item Spree.t(:zones), admin_zones_path %>
      <%= configurations_sidebar_menu_item Spree.t(:countries), admin_countries_path %>
      <% if Spree::Config[:default_country_id] %>
        <%= configurations_sidebar_menu_item Spree.t(:states), admin_country_states_path(Spree::Config[:default_country_id]) %>
      <% end %>
      <%= configurations_sidebar_menu_item Spree.t(:payment_methods), admin_payment_methods_path %>
      <%= configurations_sidebar_menu_item Spree.t(:taxonomies), admin_taxonomies_path %>
      <%= configurations_sidebar_menu_item Spree.t(:shipping_methods), admin_shipping_methods_path %>
      <%= configurations_sidebar_menu_item Spree.t(:shipping_categories), admin_shipping_categories_path %>
      <%= configurations_sidebar_menu_item Spree.t(:stock_transfers), admin_stock_transfers_path %>
      <%= configurations_sidebar_menu_item Spree.t(:stock_locations), spree.admin_stock_locations_path %>
      <%= configurations_sidebar_menu_item Spree.t(:analytics_trackers), admin_trackers_path %>
      <%= configurations_sidebar_menu_item Spree.t(:companies), admin_companies_path %>
      <%= configurations_sidebar_menu_item Spree.t(:about_us), "/admin/about/" %>
    </ul>
  </nav>
<% end %>
