<div>
    <div class="">
      <%= label_tag "slider_product_ids_string", Spree.t('product_rule.choose_product') %>
      <%= hidden_field_tag "slider[product_ids_string]",  :class => "product_picker fullwidth" %>
    </div>
    <div class=" field">
      <label>
        <%= select_tag("slider_product",
                       options_for_select(Spree::Product.active.map{|p| [truncate(p.name,:length=>15),'/products/'+p.permalink] }.unshift(["Select a Product",""])),
                       {:class => 'select_product select2',:id=>'slider_product_chooser',:style=>"min-width:200px"}) %>
      </label>
    </div>
</div>
