<%= f.field_container :name do %>
  <%= f.label :name, t(:name) %><br />
  <%= f.text_field :name %>
<% end %>
<%= f.field_container :body do %>
  <%= f.label :body, t(:body) %><br />
  <%= f.text_area :body, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
<% end %>

<% actual_locale=I18n.locale.to_s%>
<% if  actual_locale == 'en' %>
    <% translation_locale = :es%>
<% elsif actual_locale == 'es'%>
    <% translation_locale = :en %>
<% end %>
<br />


<div style="font-weight:bolder">
  <%=t(:translation_for,:locale=>translation_locale) +": " + translation_locale.to_s %>
</div>
<%= f.globalize_fields_for translation_locale do |g| %>
    <div>
      <%= t(:name, :locale => translation_locale) %>
    </div>
    <p><%= g.text_field :name %></p>
    <div>
      <%=t(:body, :locale => translation_locale) %>
    </div>
    <p><%= g.text_area(:body,{:cols => 60, :rows => 4, :class => 'fullwidth'})  %></p>
<%end%>

<br />
<div>
    <p><%= t(:slider_url_instructions)%></p>
</div>
<%= f.field_container :product do %>
    <div class="slider_form_field">
        <%= render :partial => 'choose_product', :locals=>{:f=>f} %>
    </div>
    <div class="slider_form_field" id="slider_url_field"  >
        <div>
          <%= f.label :link_url, t(:link_url) %>
        </div>
        <%= f.text_field :link_url %>
    </div>
<% end %>
<%= f.field_container :image do %>
  <div>
    <%= f.label :image, t(:image) %>
  </div>
  <%= f.file_field :image %>
<% end %>

<%= f.field_container :image_english do %>
    <div>
      <%= f.label :image_english, t(:image_english) %>
    </div>
    <%= f.file_field :image_english %>
<% end %>
<%= f.field_container :published do %>
  <%= f.label :is_published, t(:published) %>
  <%= f.check_box :published %>
<% end %>
<%= f.field_container :position do %>
  <%= f.label :position, t(:position) %>
  <%= f.number_field :position %>
<% end %>
