<footer id="footer" class="sixteen columns footer_background" data-hook>
 <div style="max-width: 755px; margin: 0 auto">
	<div class="footer_column">
        <h5> <%=t(:Categories)%>  </h5>
      <a style="color: white" href="/t/categorias/ropa-y-accesorios"><%=t(:Categoria1)%> </a><br />
      <a style="color: white" href="/t/categorias/artesanias"> <%=t(:Categoria2)%> </a>
      <a style="color: white" href="/t/categorias/belleza-y-cuidado"> <%=t(:Categoria3)%> </a>
      <a style="color: white" href="/t/categorias/productos-alimenticios"> <%=t(:Categoria4)%> </a>
      <a style="color: white" href="/t/categorias/ceramica"> <%=t(:Categoria5)%> </a>


	</div>
	<div class="footer_column">
		<h5><%=t(:Contact)%></h5> <a style="color:white" href="/contact">Contact Us</a> <br />
	</div>
	<div class="footer_column">
		<h5><%=t(:Findus)%></h5><div class="facebook_btn" ></div> <div class="twitter_btn"></div>
	</div>
	<div class="footer_column_image">
		<div class="map_background"></div>
	</div>

  <!-- <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div> -->

</div>
    <div><img src="/assets/resources/usaid.png" /></div>
	<span class="credits" style="padding-left: 10px;
padding-right: 10px;">
		<span> <%=t(:copyright)%></span>
		Copyright © 2013 - Products from El Salvador. <br />
		<span style="display: inline-block">(503) 2212-0200</span><br/>
		
	</span>
</footer>
