<header id="header" class="row background_header" data-hook>
   <!--<figure id="logo" class="columns six" data-hook><%= logo %></figure> -->
	<figure class="header_image"> <img src="/assets/resources/al_investlogo.png" /> </figure>
	<figure class="header_image extras_header"> <img src="/assets/resources/al_investlogo2.png" /> </figure>

  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
