<nav class="columns sixteen ">
  <ul id="main-nav-bar" class="inline" style="background-color: #114B84" data-hook>    
	<!-- <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li> -->
	
	<li> <a href="/" style="padding: 0;"><div class="menu_background">  
		<!-- <img src="/assets/resources/logo_blanco.png" style="width: 142px;height: 41px;margin-bottom: -26px;" />  -->
		<div class="button-eslogo"></div><span>.</span>
	</div> </a> </li>

	<li> <a href="/" style="padding: 0;"> <div class="menu_background"> 
		<div class="button-home" ></div><span style="margin-left: 76px;"><%=t(:home)%></span>
	</div> </a> </li>
	
	<li> <a href="/about" style="padding: 0;"><div class="menu_background">
		<div  class="button-we" ></div><span style="margin-left: 60px;"><%=t(:we)%></span>
	</div></a></li>

	<li> <a href="/products" style="padding: 0;"> <div class="menu_background"> 
		<div  class="button-products" ></div><span style="margin-left: 57px;"><%=t(:products)%></span>
	</div></a></li>
	
	<li> <a href="/contact" style="padding: 0;"> <div class="menu_background">
		<div  class="button-contact" ></div><span style="margin-left: 61px;"><%=t(:contact)%></span>
	</div></a></li>

    	<!-- <li id="link-to-cart" data-hook><%= link_to_cart %></li>-->
  </ul>

	<ul class="background_slide inline" data-hook>
		
	</ul>

</nav>


