<nav id="top-nav-bar" class="columns ten">

  <ul id="nav-bar" class="inline" data-hook>

    <li id="search-bar" data-hook>

	<div>
		<%= render :partial => 'spree/shared/search' %>
	</div>
      <%= render :partial => 'shared/languages' %>
    </li>
  </ul>
</nav>
