
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<style type="text/css">
    .pagination {
        float: left;
        clear: both;
        padding-left: 10px;
    }
</style>

<% if products.empty? %>
    <div class="brown-divission">
      <!-- <div class="left-frame"></div> -->
      <div class="button-eslogo" style="float:left; margin-top:8px;"></div>
      <div class="right-frame"></div>
    </div>

    <img id="b1" src="/assets/resources/Banner1.jpg"  width= "538px" style="display:none"/>
    <img id="b2" src="/assets/resources/banner2.jpg"  width= "538px" style="display:none"/>
    <img id="b3" src="/assets/resources/banner3.jpg"  width= "538px" style="display:none"/>
    <img id="b4" src="/assets/resources/banner4.jpg"  width= "538px" style="display:none"/>
    <img id="b5" src="/assets/resources/banner5.jpg"  width= "538px" style="display:none"/>

  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>


<ul id="products" class="inline product-listing" data-hook>
<div class="brown-divission">
	<!-- <div class="left-frame"></div> -->
	<div class="button-eslogo" style="float:left; margin-top:8px;"></div>
		<div class="right-frame"></div>
	</div>

  <img id="b1" src="/assets/resources/Banner1.jpg"  width= "538px" style="display:none"/>
  <img id="b2" src="/assets/resources/banner2.jpg"  width= "538px" style="display:none"/>
  <img id="b3" src="/assets/resources/banner3.jpg"  width= "538px" style="display:none"/>
  <img id="b4" src="/assets/resources/banner4.jpg"  width= "538px" style="display:none"/>
  <img id="b5" src="/assets/resources/banner5.jpg"  width= "538px" style="display:none"/>

  <% products.each do |product| %>
    <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <div class="product-image product-frame">
        <%= link_to small_image(product, :itemprop => "image", :class=> 'product-image-size'), product, :itemprop => 'url'  %>
      </div>
      <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
      <span class="price selling" itemprop="price"><%= display_price(product) %></span>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
  <div float="left">
      <% if paginated_products.respond_to?(:num_pages) %>
          <%= paginate paginated_products %>
      <% end %>
  </div>
</ul>
<% end %>




<script>
$(function(){
    var url = document.URL.toLowerCase();
    if(url.indexOf("ropa-y-accesorios") > -1)
        $("#b1").show();
    if(url.indexOf("artesanias") > -1)
        $("#b2").show();
    if(url.indexOf("belleza-y-cuidado") > -1)
        $("#b3").show();
    if(url.indexOf("productos-alimenticios") > -1)
        $("#b4").show();
    if(url.indexOf("ceramica") > -1)
        $("#b5").show();

});

</script>