<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, :method => :get do %>

  <!-- <%= select_tag :taxon,
        options_for_select([[Spree.t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) %> -->






<div style="background-image: url('/assets/resources/search1.png');background-repeat: no-repeat;float: right;width: 194px;margin-bottom: 5px;margin-right: -70px;">
	<%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
	<%= submit_tag Spree.t(:search), :class => :search_button , :name => :search_btn %>
</div>

<% end %>
