<% if Spree::Slide.published.count > 0 %>
  <style type="text/css"> 
  .theme-default #slider {
      margin:0 auto 0 auto;
      width:100%; /* Make sure your images are the same size */
      height:200px; /* Make sure your images are the same size */
  }
  .slider-wrapper {
      margin:0 auto 0px auto;
  }
  </style>
    <% actual_locale=I18n.locale.to_s%>

  <div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
      <% Spree::Slide.published.order('position ASC').each do |s| %>
        <%image = s.image
          if actual_locale == "en"
            image=s.image_english
         end %>
        <% if s.body != "" %>
          <%= link_to image_tag(image.url, :title => '#' + s.name.to_url), s.link_url %>
        <% else %>
          <%= link_to image_tag(image.url), s.link_url %>
        <% end %>
      <% end %>
    </div>

    <% Spree::Slide.published.order('position ASC').each do |s| %>
      <div id='<%= s.name.to_url %>' class='nivo-html-caption'>
        <%= s.body.html_safe %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider({
          pauseTime: 5000,
          pauseOnHover: true
      });
  });
  </script>
<% end %>

