<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

	<div class="menu-container">
		<a href="/t/categorias/ropa-y-accesorios"><div class="menu_element"><div class="brown_element" > <%=t(:Categoria1)%> </div></div></a>
		<a href="/t/categorias/artesanias"><div class="menu_element"><div class="pink_element" > <%=t(:Categoria2)%></div></div></a>
		<a href="/t/categorias/belleza-y-cuidado"><div class="menu_element"><div class="green_element" > <%=t(:Categoria3)%></div></div></a>
		<a href="/t/categorias/productos-alimenticios"><div class="menu_element"><div class="red_element" > <%=t(:Categoria4)%></div></div></a>
		<a href="/t/categorias/ceramica"><div class="menu_element"><div class="yellow_element" > <%=t(:Categoria5)%></div></div></a>

      <%= render_cell :promotions, :bar %>
	</div>

<div class="home_main_column">
	<!--<div class="slide-image">
	</div>-->
  <%= render :partial => 'spree/shared/slider' %>

	<div class="skyblue-bottom"></div>
	<div class="hr"></div>

	

	<div data-hook="homepage_products">
	
	  <%= render_cell :random_products_display, :display_from_random_category %>
	</div>

	<div class="hr"></div>
	
	<h3><%=t(:Popularproducts)%></h3>


      <%= render_cell :popular_products, :display, :count => 5 %>

</div>
